<h1>会員情報編集</h1>

<%= form_with model: @customer, url: customers_information_path, method: :PATCH do |f| %>
<table>
  <tr>
    <th>
        <%= f.label :"氏名" %>
        <%= f.text_field :last_name %>
        <%= f.text_field :first_name %>
    </th>
  </tr>
  <tr>
    <td>
        <%= f.label :"フリガナ" %>
        <%= f.text_field :last_name_kana %>
        <%= f.text_field :first_name_kana %>
    </t>
  </tr>
  <tr>
    <td>
        <%= f.label :"郵便番号" %>
        <%= f.text_field :postal_code %>
    </td>

  </tr>
  <tr>
    <td>
        <%= f.label :"住所" %>
        <%= f.text_field :address %>
    </td>
  </tr>
  <tr>
    <td>
        <%= f.label :"電話番号" %>
        <%= f.text_field :telephone_number %>
    </td>
  </tr>
  <tr>
    <td>
        <%= f.label :"メールアドレス" %>
        <%= f.text_field :postal_code %>
    </td>
  </tr>
</table>

<p>
  <%= f.submit :"編集内容を保存" %>
  <%= link_to "退会する", unsubscribe_path(@customer), class:"btn btn-sm btn-success" %>
</p>
<% end %>
