<%= flash[:notice] %>


<div class="container">
  <div class="row">
    <div class="col-11">
      <h2>商品一覧</h2>
    </div>
    <div class="col-1">
      <h1>
        <%= link_to new_admin_item_path do%>
          <i class="fas fa-plus-circle"></i>
        <% end %>
      </h1>
    </div>
  </div>

  <div class="row-lg-10">
    <table class="table">
      <thead>
        <tr class="table-secondary">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </tread>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <th><%= item.id %></th>
            <th>
              <%= link_to admin_item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </th>
            <th><%= item.price.to_s(:delimited) %></th>
            <th><%= item.genre.name %></th>
            <th>
              <% if item.is_active == true %>
                <p class="text-success font-weight-bold">販売中</p>
              <% else %>
                <p class="text-secondary font-weight-bold">販売停止中</p>
              <% end %>
            </th>
          </tr>
        <% end %>
        <tr></tr>
      </tbody>
    </table>
  </div>
</div>
<div class="pagination justify-content-center"><%= paginate @items %></div>
