
<p><%= @admin_customer.last_name + @admin_customer.first_name %>さんの会員情報編集</p>

<%= form_with model: @admin_customer, url: admin_customer_path, method: :patch do |f| %>
<table class="table">
 <tbody>
  <tr></tr>
  <%# 対象ユーザーの会員IDを記載 %>
  <tr>
   <th>会員ID</th>
   <th>
   <%= @admin_customer.id %>
   </th>
  </tr>

  <%#対象ユーザーの氏名を記載 %>
  <tr>
   <th>氏名</th>
   <th>
   <%= f.text_field :last_name %> <%= f.text_field :first_name %>
   </th>
  </tr>

  <%#対象ユーザーのフリガナを記載 %>
  <tr>
   <th>フリガナ</th>
   <th>
   <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %>
   </th>
  </tr>

  <%#対象ユーザーの郵便番号を記載 %>
  <tr>
   <th>郵便番号</th>
   <th>
   <%= f.text_field :postal_code %>
   </th>
  </tr>

  <%#対象ユーザーの住所を記載 %>
  <tr>
   <th>住所</th>
   <th>
   <%= f.text_field :address %>
   </th>
  </tr>

　<%#対象ユーザーの電話番号を記載 %>
  <tr>
   <th>電話番号</th>
   <th>
   <%= f.text_field :telephone_number %>
   </th>
  </tr>

　<%#対象ユーザーのメールアドレスを記載 %>
  <tr>
   <th>メールアドレス</th>
   <th>
   <%= f.text_field :email %>

   </th>
  </tr>

　　<%#対象ユーザーの会員ステータスを選択 %>
  <tr>
   <th>会員ステータス</th>
   <th>
    <%= f.radio_button :is_active, false %>有効　<%= f.radio_button :is_active, :true %>退会</td>
   </th>
  </tr>
 </tbody>
</table>
<%= f.submit "変更を保存" %>
<% end %>
