
<%# if @admin.errors.any? %>
  <%#= @admin.errors.count #コメントアウト→errors prohibited this obj from being saved:%>
  <ul>
   <%# @admin.errors.full_messages.each do |message| %>
    <li><%#= message %></li>
   <%# end %>
  </ul>
<%# end %>

<main>
  <div class="container px-5 px-sm-0">
   <div class="row">
   <div class="col-md-3">
   <h2>会員一覧</h2>

   <td><%= @admin_customers.each do |admin_customer| %>
   <table class="table">
    <tbody>
     <tr></tr>
     <tr>
      <th>会員ID</th>
      <th><%= @admin_customers.id %></th>
     </tr>
     <tr>
      <th>氏名</th>
      <th><%= @admin_customers.last_name + @admin_customers.first_name %></th>
      <td><%= link_to admin_customer_path(@admin_customers.id) do %>
          <% end %>
      </td>
     </tr>
     <tr>
      <th>メールアドレス</th>
      <th><%= @admin_customers.email %></th>
     </tr>
     <tr>
      <th>ステータス</th>
      <th><%= @admin_customers.is_deleted %></th>
      </tr>
     </td>
    </tbody>
   </table>
   <% end %>
   <%= paginate @admin_customers %>
