<% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラーが発生しました
  <ul>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= flash[:notice] %>

<h1>配送先登録/一覧</h1>
<%= form_with model: @address, url: addresses_path, method: :post do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td><%= f.text_field :postal_code,:placeholder => "0000000" %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :address,:placeholder => "東京都渋谷区代々木神園町0-0" %></td>
      </tr>
      <tr>
        <td>宛名</td>
        <td><%= f.text_area :name,:placeholder => "令和道子" %></td>
        <td><%= f.submit "新規登録",class: "btn btn-success" %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<div class="container">
  <div class="row-lg-8">
    <table class ="table table-bordered">
        <thread>
          <tr bgcolor="silver">
            <td>郵便番号</td>
            <td>住所</td>
            <td>宛名</td>
            <td></td>
          </tr>
        </thread>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td>
                <%= link_to "編集する", edit_address_path(address.id),class: "btn btn-success" %>
                <!--削除ボタン-->
                <%= link_to "削除する", address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>