<div class="container">
  <div class="row">
    <div class="col-2">
      <!--ジャンル検索-->
      <%= render 'genrevar', genres: @genres %>
    </div>

    <div class="col-10">
      <!--一覧部分-->
      <h2 style="margin: 20px 0;">商品一覧(全<%= @count %>件)</h2>

      <div class="text-center row">
        <% @items.each do |item| %>
          <% if item.is_active == true %>
            <div class="col-md-3 shadow p-3 mb-4 m-4">
              <%= link_to item_path(item) do %>
                <%= image_tag item.image, size:"200x200"  %>
                <%= item.name %>
              <% end %>
              <br><%= item.price %>円
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>