<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <!--ジャンル検索-->
      <%= render 'genrevar', genres: @genres %>
    </div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">


<!--一覧部分-->
  <h2 style="margin: 20px 0;">商品一覧(全<%= @items.count %>件)</h2>

  <% @items.each do |item| %>
  <div class="col-xs-3 text-center ">
    <p><%= link_to (image_tag item.image, size:"200x200"), public_item_path(item) %></p>
    <p><%= link_to item.name, public_item_path(item)%></p>
    <p><%= item.price %>円</p>
  </div>
  <% end %>

<%#= paginate @item %>
</div>