<div class="container">
  <div class="row mt-5">
    <div class="col-2">
　　　<!--ジャンル検索-->
      <%= render 'genrevar', genres: @genres %>
    </div>

    <!--<div class="col-10">-->
      <div class="col-4 ">
        <%= image_tag @item.image, class:"img-thumbnail" %></p><br>
      </div>
      <div class="col-6 ">
        <div>
          <h2><%= @item.name %></h2>
          <%= @item.introduction %>
          <br><br>
          <span class="h4">¥ <%= ((@item.price*1.1).floor).to_s(:delimited, delimiter: ',') %></span> (税込)

          <!--個数選択-->
          <%= form_with model: @cart_item, url: cart_items_path do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :amount,(1..20).to_a, {:prompt => "個数選択"}, :required => true %>
            <%= f.submit "カートに入れる",class:"btn btn-success" %>
          <% end %>
        </div>
      </div>
    <!--</div>-->
  </div>
</div>