<!--ジャンル検索-->
<div class="offset-1 col-10">
  <div class="row d-flex aline-items-center">
    <strong class="red-border px-3 pb-1">ジャンル検索</strong>
  </div>
  <% @genres.each do |genre| %>
    <%= link_to public_item_path(genre) do %>
      <%= genre.name %>
    <% end %>
  <% end %>
</div>


<!--商品詳細-->
<p><%= image_tag @item.image, size:"200x200" %></p>

<h3><%= @item.name %></h3>
<p><%= @item.introduction %></p>
¥ <%= ((@item.price*1.1).floor).to_s(:delimited, delimiter: ',') %> (税込)


<!--個数選択-->
<!--url部分はマイページに飛ぶようになってますが、カートurlができ次第変更します！-->
<%= form_with model: @cart_item, url: mypage_path do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :amount, [['1個', 1], ['2個', 2], ['3個', 3], ['4個', 4], ['5個', 5], ['6個', 6], ['7個', 7], ['8個', 8], ['9個', 9]], {:prompt => "個数選択"} %>
  <%= f.submit "カートに入れる" %>
<% end %>

